.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.input-search-container {
  padding: 20px 0;
  width: 85vw;
}
.input-search-user {
  width: 100%;
  height: 30px;
  padding-left: 20px;
}
.user-filters {
  display: flex;
  align-items: center;
}
.select-order,
.input-search-user,
.checkbox-order-label {
  font-size: 20px;
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
}
.select-order {
  width: 37%;
  margin-right: 20px;
  height: 35px;
  font-size: 15px;
}
.checkbox-order-label {
  margin: 0 20px;
  display: flex;
  align-items: center;
}
.checkbox-order {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  position: relative;
}
.input-search-user,
.select-order {
  padding-left: 20px;
}

#grid-user-container {
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  margin: 50px 0;
}
.user-card {
  list-style: none;
  margin: 10px;
  box-shadow: 0 0 6px #00000050;
}
.user {
  padding: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 1.5em;
  font-family: "Segoe UI", sans-serif;
}
.user-name::before {
  content: "Nome: ";
}
.user-date::before {
  content: "Data de criação: ";
}
.user-location::before {
  content: "Local: ";
}
.user-bio::before {
  content: "Bio: ";
}
.user-name::before,
.user-date::before,
.user-location::before,
.user-bio::before {
  font-weight: bold;
}
.user-avatar {
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .user-filters {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .input-search-container {
    padding: 0;
    margin-bottom: 20px;
  }
  .input-search-user {
    width: 78vw;
  }
  .select-order {
    width: 100%;
    margin-bottom: 8px;
  }
  .checkbox-order-label {
    margin: 0;
  }
  .select-order,
  .input-search-user,
  .checkbox-order-label {
    font-size: 15px;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
  }
  #grid-user-container {
    grid-template-columns: 90vw;
    margin: 20px 0;
  }
}
